<app-basic-box
  widthVal = "879.38px"
  heightVal = "73.83px"
  leftVal = "425px"
  topVal = "200px"
  boxtitle1 = "Todays auction"
  boxtitle2 = "ends on 12:00 am">

    <app-in-box 
      widthVal = "300px"
      heightVal = "50px"
      leftVal = "200px"
      topVal = "10px">
      <p class="inBox--title">Timer</p>
      <div class="inBox--content" id="timerInBox">
        <span class="timerNumber">13</span>
        <span style="height:40px; position: relative; left: 70px; top: 10px; border: 0.5px solid white; float: left;"></span>
        <span class="timerNumber">46</span>
        <span style="height:40px; position: relative; left: 140px;  top: 10px; border: 0.5px solid white; float: left;"></span>
        <span class="timerNumber">38</span>
      </div>
    </app-in-box>
    <app-in-box 
      widthVal = "200px"
      heightVal = "50px"
      leftVal = "650px"
      topVal = "10px">
      <p class="inBox--title">Day
        <span class="inBox--content">
          <em>89</em>/<em>365</em>
        </span>
      </p>
    </app-in-box>
</app-basic-box>

<app-basic-box
  widthVal = "879.38px"
  heightVal = "73.83px"
  leftVal = "425px"
  topVal = "300px"
  boxtitle1 = "Auction"
  boxtitle2 = "statistics">
    <app-in-box 
      widthVal = "160px"
      heightVal = "50px"
      leftVal = "150px"
      topVal = "10px">
      <p class="inBox--title">Todays <br> BNB Pool
        <span class="inBox--content">
          <em>424</em>
        </span>
      </p>
    </app-in-box>
    <app-in-box 
      widthVal = "160px"
      heightVal = "50px"
      leftVal = "320px"
      topVal = "10px">
      <p class="inBox--title">Todays <br> REX/BNB
        <span class="inBox--content">
          <em>21.542</em>
        </span>
      </p>
  </app-in-box>
  <app-in-box 
    widthVal = "160px"
    heightVal = "50px"
    leftVal = "490px"
    topVal = "10px">
    <p class="inBox--title">Todays <br> Participants
      <span class="inBox--content">
        <em>342</em>
      </span>
    </p>
  </app-in-box>
  <app-in-box 
    widthVal = "160px"
    heightVal = "50px"
    leftVal = "660px"
    topVal = "10px">
    <p class="inBox--title">Todays <br> REX Pool
      <span class="inBox--content">
        <em>8.452.414</em>
      </span>
    </p>
  </app-in-box>
</app-basic-box>

<app-basic-box
  widthVal = "579px"
  heightVal = "282px"
  leftVal = "425px"
  topVal = "400px"
  boxtitle1 = "Today"
  titleTop = "-8%">

</app-basic-box>
<!--
<app-chart 
    imgSrc = "../../../../assets/chartDemo(2).png"
    topVal = "450px"
    leftVal = "420px"
  >
</app-chart>

-->

