<app-chart 
    imgSrc = "../../../assets/chartDemo.png"
    topVal = "200px"
    leftVal = "420px"
  >
</app-chart>
<app-basic-box
  widthVal = "879.38px"
  heightVal = "73.83px"
  leftVal = "425px"
  topVal = "670px"
  boxtitle1 = "Buying REX"
  boxtitle2 = "comparision">
    <app-in-box 
      widthVal = "300px"
      heightVal = "50px"
      leftVal = "550px"
      topVal = "10px">
    </app-in-box>
    <app-in-box 
      widthVal = "300px"
      heightVal = "50px"
      leftVal = "200px"
      topVal = "10px">
  </app-in-box>
</app-basic-box>

<app-btn
    [active] = true
    text = "Need Help? Chat with us!"
    leftVal= "1100px"
    topVal = "770px"
    btnNumber= "6">
</app-btn>

